<h3 class="text -help-title">Additional crop management</h3>

<h3 class="text -help-title">Soil management</h3>

<p class="text -plain-text">
  In addition to tillage and fertilizer use, various crop management practices
  have an impact on the carbon content in agricultural soils in terms of their
  contribution of carbon, in the form of biomass, to the soil or removal of carbon
  from the soil.
</p>

<p class="text -plain-text">
  Additional crop management practices impacting soil carbon content include:
</p>

<ul>
  <li>
    Use of <strong>nitrogen fixing crops</strong> which convert atmospheric nitrogen into organic
    compounds. The nitrogen fixing crops raise the nitrogen content of the soil
    benefiting all crops and increasing growth and with growth carbon in the soil.
  </li>
  <li>
    Use of <strong>green manure</strong> which involves growing plants specifically for the
    purpose of them incorporating them into the soil to function as fertilizers
    once they die.
  </li>
  <li>
    <strong>Crop rotation</strong> is the practice of varying the cultivation of different crops
    to maintain soil fertility, among other reasons.
  </li>
  <li>
    <strong>Cover crops</strong> are planted for the specific purpose of protecting soil, in
    particular its structure and fertility.
  </li>
  <li>
    <strong>Improved fallow</strong> is land resting from cultivation which is planted with
    vegetation designed to protect and enhance soil fertility.
  </li>
  <li>
    <strong>Crop residue/rice straw burning</strong> is the practice of burning the remaining
    organic material, such as stalks and leaves, in the field after harvest.
  </li>
</ul>

<p class="text -plain-text -note">
  It is important to note that these crop management practices are not mutually
  exclusive. For example, nitrogen fixing crops can be a form of green manure.
</p>


<h3 class="text -help-title">Crop Residue/Rice Straw Burning and Decomposition</h3>
<p class="text -plain-text">
  In addition to its impact on soil management emissions, whether or not crop
  residues are burned has impacts on greenhouse gas emissions resulting
  directly from the combustion of materials and from the decomposition of
  remaining crop residue. It is assumed in this tool that crop residue
  decomposition is equal to 0 when crop residue is burned.
</p>
<p class="text -plain-text">
  Note that crop residues produce nitrous oxide emissions through direct
  emissions and leaching/run off but not through volatilization.
</p>
<p class="text -plain-text -note">
  Details on the methods used to calculate emissions from additional crop
  management practices can be found at [Link to Methods doc].
</p>

