<h3 class="text -help-title">Additional Nutrient Management</h3>

<h3 class="text -help-title">Practices for Paddy Rice</h3>
<p class="text -plain-text">
  When rice fields are flooded, anaerobic decomposition (in other words,
  decomposition in the absence of oxygen) of organic material takes place.
  A byproduct of this anaerobic decomposition is methane (CH<sub>4</sub>), a greenhouse
  gas. The CH<sub>4</sub> is released into the atmosphere through the rice plants.
</p>
<p class="text -plain-text">
  The application of rice straw and the timing of this application also has an
  impact on the methane emissions resulting from flooding.
</p>

<p class="text -plain-text -note">
  Details on the methods used to calculate emissions from rice irrigation can
  be found at [Link to Methods doc].
</p>
