<h3 class="text -help-title">Describe your agricultural activity</h3>

<p class="text -plain-text">
  On this page you are asked to provide information on what you grow, how
  large your land is and your expected yield per hectare. The land area and
  expected yield options are both mandatory: you cannot proceed without providing a value.
</p>

<p class="text -plain-text">
  The type of crop is an essential input which will influence the rest of the
  agricultural management questions in this tool. For instance, the practices for
  growing paddy rice will be very different from those for growing corn.
  These different practices, in turn, have different greenhouse gas emission impacts.
</p>

<p class="text -plain-text">
  The area of land cultivated influences the total volume of greenhouse gas emissions.
  As an example 100 hectares of potatoes cultivated will likely have substantially
  smaller emissions than 1000 hectares of potatoes cultivated assuming all the same
  management practices are applied.
</p>

<p class="text -plain-text">
Finally, the expected yield will be used to inform the emissions per unit of yield results.
</p>

<p class="text -plain-text -note">
  Details on the methods used to calculate emissions can be found in
  <a href="/documents/Grow Asia Counter Methodology.pdf" target="_blank">this document</a>.
</p>
