<h3 class="text -help-title">Agroforestry practices</h3>
<p class="text -plain-text">
  The application of agroforestry practices in crop systems removes carbon
  dioxide (CO<sub>2</sub>) from the atmosphere by sequestering it in new plant biomass.
  Examples of agroforestry practices include (but not limited to) the following
  practices:
</p>
<ul>
  <li>
    <strong>Shade trees</strong> which are trees planted with broad canopies to
    provide needed shade for such crops as coffee and cacao.
  </li>
  <li>
    <strong><a href="http://nac.unl.edu/practices/windbreaks.htm">Windbreaks</a></strong>
    which are linear plantings of trees and shrubs around cultivated areas.
  </li>
  <li>
    <strong><a href="http://www.centerforagroforestry.org/practices/ac.php">Alley cropping</a></strong>
    is planting rows of trees at wide spacings with a companion crop grown in
    the alleyways between the rows.
  </li>
</ul>
<p class="text -plain-text -note">
  Details on the methods used to calculate removals from agroforestry practices
  can be found at [Link to Methods doc].
</p>
