<h3 class="text -help-title">Agrochemical use</h3>
<p class="text -plain-text">
  Agrochemical use includes the use of synthetic pesticides and/or herbicides.
  Emissions calculations are based on Bellarby et al. (2008)<sup>1</sup> that estimated
  that the application of agrochemicals results in greenhouse gas emissions
  from fossil fuel and energy use in farm operations and production of chemicals
  for agriculture to range of 180-3,700 kilograms of carbon dioxide equivalents
  (CO<sub>2-eq</sub>) per km<sup>2</sup>. The mean value for this range
  (1,940 kg CO<sub>2-eq</sub>/km<sup>2</sup>) is used.  This is equivalent to an
  emissions value for agrochemical use of 19.4 kg CO<sub>2</sub>/ha.
</p>
<p class="text -plain-text">
  <em>1</em>:
  <a href="https://www.organicconsumers.org/sites/default/files/cool-farming-full-report.pdf">
    Bellarby, J., Foereid, B., Hastings, A., and Smith, P. (2008). Cool Farming:
    Climate impacts of agriculture and mitigation potential.  Greenpeace
  </a>
</p>

<p class="text -plain-text -note">
  Details on the methods used to calculate emissions can be found in
  <a href="/documents/Grow Asia Counter Methodology.pdf">this document</a>.
</p>
