<h3 class="text -help-title">Analysis page</h3>
<p class="text -plain-text">
  Based on user input on the previous pages, annual greenhouse gas emissions
  are calculated in terms of tonnes of carbon dioxide equivalent
  (CO<sub>2</sub>e). CO<sub>2</sub>e is used to present the emissions of
  different greenhouse gases in a common unit. It is calculated for any given
  greenhouse gas based on its global warming potential (GWP), which is a
  measure of how much energy the emissions of 1 unit (e.g., 1 tonne) of gas
  will absorb over 100 years in comparison to the emissions of the same
  quantity (1 tonne) of carbon dioxide. Annual emissions are presented in
  terms of total emissions from the agricultural system being analyzed, and
  in terms of emissions per unit of yield (CO<sub>2</sub>e per tonne of product).
</p>
<p class="text -plain-text">
  On the right sidebar, the user can change their agricultural practices in
  potential future scenarios to estimate how they would impact their emissions.
  Both current practices and future potential practices will appear in the bar
  graph to allow users to compare the two scenarios.
</p>
<p class="text -plain-text">
  Users have multiple options to save and share their results. They can save
  the URL or or bookmark the page (crtl/cmd + d), they can print the results
  as a pdf file, or they can share them via Linkedn, Twitter, or email.
</p>

<p class="text -plain-text -note">
  Details on the methods used to calculate emissions can be found in
  <a href="documents/Grow Asia Counter Methodology.pdf">this document</a>.
</p>
