<h3 class="text -help-title">Burning of Rice Straw</h3>
<p class="text -plain-text">
  The combustion of rice straw produces carbon dioxide, methane,
  nitrous oxide emissions.
</p>
<p class="text -plain-text -note">
  Details on the methods used to calculate emissions from rice irrigation can
  be found in
  <a href="/documents/Grow Asia Counter Methodology.pdf" target="_blank">this document</a>.
</p>
