<h3 class="text -help-title">Fossil fuel use</h3>
<p class="text -plain-text">
  The combustion of fossil fuels is one of the most well-known sources of carbon
  dioxide (CO2) emissions in the atmosphere. The amount consumed and the type
  of fossil fuel (in this tool, diesel and petroleum) used influences the amount
  of emissions.
<p class="text -plain-text -note">
  Details on the methods used to calculate removals from fossil fuel use can be found at [Link to Methods doc].
</p>
