<h3 class="text -help-title">Fossil fuel use</h3>
<p class="text -plain-text">
  You will be asked a series of questions about how you use fossil fuels in
  your agricultural activities, like transport, irrigation and other purposes.
</p>

<p class="text -plain-text">
  The combustion of fossil fuels is one of the most well-known sources of carbon
  dioxide (CO<sub>2</sub>) emissions in the atmosphere. The amount consumed and the type
  of fossil fuel (in this tool, diesel and petroleum) used influences the amount
  of emissions.
</p>
<p class="text -plain-text -note">
  Details on the methods used to calculate removals from fossil fuel use can
  be found in
  <a href="/Grow Asia Counter Methodology.pdf">this document</a>.
</p>
