<h3 class="text -help-title">Area selection</h3>
<p class="text -plain-text">
  In this tool, geography plays - primarily through its influence on soil carbon content -
  a role in greenhouse gas emissions from agricultural activities.
  Soils in different areas of the region have different soil organic carbon contents.
</p>

<p class="text -plain-text">
  Furthermore, the relative impact that different soil
  management activities (such as tillage) have on the soil carbon content varies
  by an area’s particular climate (temperature and precipitation level).
</p>

<p class="text -plain-text">
  This screen allows you to select the country, then region,
  where your agricultural area is located. You can use the map or the dropdown
  list to select your country and region. Once you have chosen both of these,
  you can proceed to the next page.
</p>

<p class="text -plain-text -note">
  Details on the methods used to calculate emissions can be found in
  <a href="/documents/Grow Asia Counter Methodology.pdf" target="_blank">this document</a>.
</p>
