<h3 class="text -help-title">Introduction</h3>
<p class="text -plain-text">
  The Grow Asia Counter allows users to estimate their greenhouse gas emissions
  of different agricultural management scenarios for cocoa, coffee, tea, corn,
  rice, potatoes, and vegetables/horticulture.
</p>
<p class="text -plain-text">
  The following factors of agricultural systems are evaluated in terms of their
  greenhouse gas emissions:
</p>
<ul>
  <li>Tillage and other soil management practices,</li>
  <li>Nutrient management practices,</li>
  <li>Liming,</li>
  <li>Crop residue burning and decomposition,</li>
  <li>Agrochemical use,</li>
  <li>Agroforestry practices,</li>
  <li>Fossil fuel use,</li>
  <li>Rice irrigation (for paddy rice).</li>
</ul>
<p class="text -plain-text">
  Greenhouse gas emissions are presented in terms of total annual emissions of
  carbon dioxide equivalents (tonnes of CO<sub>2</sub>e) and annual emissions per unit of
  yield (tonnes of CO<sub>2</sub> per tonne of product).
</p>

<p class="text -plain-text">
  The tool allows users to view their greenhouse gas emissions based on their
  current practices (scenario 1) and what their greenhouse gas emissions would
  be if they changed their management practices (scenario 2).
</p>
<p class="text -plain-text">
  Through a series of questions, the Counter will help you view these emissions.
  It will be helpful if you have accurate information in hand before starting
  to fill in data.
</p>
<p class="text -plain-text -note">
  Details on the methods used to calculate emissions can be found in
  <a href="documents/Grow Asia Counter Methodology.pdf">this document</a>.
</p>
