<h3 class="text -help-title">Rice irrigation practices</h3>
<p class="text -plain-text">
  When rice fields are flooded, anaerobic decomposition (in other words,
  decomposition in the absence of oxygen) of organic material takes place.
  A byproduct of this anaerobic decomposition is methane (CH<sub>4</sub>), a
  greenhouse gas. The CH<sub>4</sub> is released into the atmosphere through
  the rice plants.
</p>
<p class="text -plain-text">
  A key variable impacting the amount of methane released is the type of
  irrigation regime used during cultivation.
</p>
<p class="text -plain-text -note">
  Details on the methods used to calculate emissions from rice irrigation can
  be found at [Link to Methods doc].
</p>
