<h3 class="text -help-title">Liming practices</h3>
<p class="text -plain-text">
  The application of lime (e.g., calcic limestone (CaCO<sub>3</sub>) or dolomite
  (CaMg(CO<sub>3</sub>)<sub>2</sub>) to soil is a source of carbon dioxide
  (CO<sub>2</sub>) emissions as a result of the dissolution of the carbonate lime.
</p>
<p class="text -plain-text -note">
  Details on the methods used to calculate removals from liming practices can
  be found in
  <a href="/Grow Asia Counter Methodology.pdf">this document</a>.
</p>
