<h3 class="text -help-title">Rice cultivation specifics</h3>
<p class="text -plain-text">
  When rice fields are flooded, anaerobic decomposition (in other words,
  decomposition in the absence of oxygen) of organic material takes place.
  A byproduct of this anaerobic decomposition is methane (CH<sub>4</sub>), a greenhouse
  gas. The CH<sub>4</sub> is released into the atmosphere through the rice plants.
</p>

<p class="text -plain-text">
  In addition to the specific irrigation regime applied, the flooding regime
  used prior to cultivation, length of cultivation, and the number of
  cultivation cycles all influence methane emissions.
</p>
<p class="text -plain-text">
  Details on the methods used to calculate emissions from rice irrigation can
  be found in
  <a href="documents/Grow Asia Counter Methodology.pdf">this document</a>.
</p>
