<h1>Flooding before cultivation</h1>
<section>
  Before cultivation starts, cropland is
  <%= select_tag :flooding,
    options_for_select(Analysis::FLOODING_PRACTICES) %>
  and cultivation takes
  <%= text_field_tag :cultivation_time, 120 %> days.
</section>
