<h1>Type of Rice and Irrigiation Regime</h1>
<section>
  I grow
  <%= f.select :rice_type,
    options_for_select(["paddy",
                        "upland"]) %>
  rice and the irrigation regime can be described as
  <%= f.select :irrigation_regime,
    options_for_select(Analysis::IRRIGATION_REGIMES) %>.
</section>
