<div class="l-actions">
  <ul>
    <li>
      <span class="btn-prev js--slider-handler" data-step='prev'></span>
    </li>
    <li>
      <span class="btn-next js--slider-handler" data-step='next'></span>
    </li>
  </ul>
</div>
