<div class="l-header c-header <%= (controller?('analyses') && action?('show')) ? '-yellow' : '' %>">

  <button class="btn-help">
    <svg class="c-icon -medium">
      <use xlink:href="#icon-help"></use>
    </svg>
  </button>

  <div class="text-wrap">
    <h1 class="text -title">
      <%= link_to "Grow Asia Counter", root_path, class: "text -dark" %>
    </h1>
  </div>


  <div class="logo -header">
    <svg>
      <use xlink:href="#icon-logo"></use>
    </svg>
  </div>

  <div class="c-social">
    <div class="btn-social">
      <svg class="c-icon -small">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </div>
    <div class="btn-social">
      <svg class="c-icon -small">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </div>
    <div class="btn-social -mail">
      <svg class="c-icon -small">
        <use xlink:href="#icon-mail"></use>
      </svg>
    </div>
  </div>

</div>
