<div class="l-header">
  <div class="btn-help">
    <svg class="icon -help">
      <use xlink:href="#icon-help"></use>
    </svg>
  </div>

  <h1 class="text -title">Climate Impacts Tool</h1>
  <svg class="logo -header">
    <use xlink:href="#icon-logo"></use>
  </svg>

  <div class="c-social">
    <div class="btn-social">
      <svg class="icon -fb">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </div>
    <div class="btn-social">
      <svg class="icon -tw">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </div>
    <div class="btn-social -mail">
      <svg class="icon -mail">
        <use xlink:href="#icon-mail"></use>
      </svg>
    </div>
  </div>
</div>
