.l-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: rem(88px);
}

.l-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-1;

  z-index: 0;

  &.-home {
    background-image: image-url('home-bg.jpg');
    background-size: cover;
    color: $white;
  }

  &.-theme-1 {
    background-color: $color-1;
    color: $black;
  }

  &.-theme-2 {
    background-color: $color-2;
    color: $black;
  }

  &.-theme-3 {
    background-color: $color-3;
    color: $black;
  }

  &.-theme-4 {
    background-color: $color-4;
    color: $white;

    input,
    select,
    .chosen-container,
    .chosen-container span,
    .chosen-container-single .chosen-single div:after {
      color: $white;
      border-color: $white;
      fill: $white;
    }

    input,
    select,
    label,
    .chosen-container {
      background-color: rgba($white, .1);
    }

    input:checked + label:after {
      background-image: image-url('check_white.svg');
    }

  }

  &.-theme-5 {
    background-color: $color-5;
    color: $white;

    input,
    select,
    .chosen-container,
    .chosen-container span,
    .chosen-container-single .chosen-single div:after {
      color: $white;
      border-color: $white;
      fill: $white;
    }

    input,
    select,
    label,
    .chosen-container {
      background-color: rgba($white, .1);
    }

    input:checked + label:after {
      background-image: image-url('check_white.svg');
    }
  }

  &.-theme-6 {
    background-color: $color-6;
    color: $white;

    input,
    select,
    .chosen-container,
    .chosen-container span,
    .chosen-container-single .chosen-single div:after {
      color: $white;
      border-color: $white;
      fill: $white;
    }

    input,
    select,
    label,
    .chosen-container {
      background-color: rgba($white, .1);
    }

    input:checked + label:after {
      background-image: image-url('check_white.svg');
    }
  }

  //We will change the z-index for something
  //else later to emulate the desing
  &.-is-current {
    z-index: 10;
  }
}

/*
 * FROM WIZARD
 */

//Hanlders
.l-actions {
  position: absolute;
  left: 0;
  right: 0;
  bottom: rem(16px);
  z-index: 100;
}
