.l-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: rem(88px);
}

.l-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.-home {
    background-image: image-url('home-bg.jpg');
    background-size: cover;
    color: $white;
  }

  &.-slide-1 {
    background-color: $color-1;
    color: $black;
  }

  &.-slide-2 {
    background-color: $color-2;
    color: $black;
  }

  &.-slide-3 {
    background-color: $color-3;
    color: $black;
  }

  &.-slide-4 {
    background-color: $color-4;
    color: $white;
  }

  &.-slide-5 {
    background-color: $color-5;
    color: $white;
  }
}

/*
 * FROM WIZARD
 */

//Hanlders
.actions {
  position: absolute;
  bottom: rem(20px);
  z-index: 10;

}
