.l-analysis-main {
  position: fixed;
  left: rem(88px);
  top: 0;
  bottom: 0;
  right: rem(336px);
  height: 100vh;
  overflow: auto;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $screen-xl) {
      min-height: rem(850px);
    }
  }
}

.l-analysis-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: rem(336px);
  height: 100vh;
  overflow: auto;
  background-color: $color-5;

  * > {
    padding-right: rem(10px);
  }
}

.l-analysis-advise {
  text-align: center;
  padding: rem(8px) 0;
}
