.l-analysis-main {
  position: absolute;
  left: rem(88px);
  top: 0;
  bottom: 0;
  right: rem(336px);
}

.l-analysis-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: rem(336px);
  height: 100%;
  overflow: auto;
  background-color: $color-5;
}
