<h1>Additional crop management</h1>
<section>
  Additional crop management practices include (check all that apply):
  <% Analysis::CROP_MANAGEMENT_PRACTICES.each do |practice| %>
    <label><%= practice %>
      <%= check_box_tag :additional_crop_management, practice %>
    </label>
  <% end %>
</section>
