<div class="c-slider-step js-slider-step -active" data-guidance="agrochemicals">
  <!-- <h1>Agrochemicals</h1> -->
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Please tell us about your pesticide and herbicide use</span>

    <div>
      <p class="text -questions">Do you apply pesticides and/or herbicides?</p>
      <div>
        <div class="c-field -little -light">
          <select name="agrochemicalRice" id="agrochemicalRice" class="-js-next-step-switcher -theme-4">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>
      </div>

      <span id="agrochemicalRiceAmount" class="c-field -medium -light -disabled -fixed-height">
        <%= f.number_field :agrochemical_amount, class: '-right  -js-numeric',
          autocomplete: 'off', min: '0', placeholder: 0.0 %>
        <span class="unit">kg/ha/year</span>
      </span>
    </div>

  </div>
</div>
