<div class="c-slider-step js-slider-step -active">
  <!-- <h1>Agrochemicals</h1> -->
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Please tell us about your agrochemical use</span>

    <div>
      <p class="text -questions">Do you apply agrochemicals? (including pesticides, or herbicides)</p>
      <div>
        <div class="c-field -extra-small -light">
          <select name="agrochemicalRice" id="agrochemicalRice">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>
      </div>

      <span class="c-field -medium -light">
        <%= f.number_field :agrochemical_amount, class: '-right  -js-numeric', autocomplete: 'off', min: '0', disabled: true %>
        <span class="unit">kg/ha/year</span>
      </span>
    </div>

  </div>
</div>
