<h1>Agrochemicals</h1>
<section>
  We apply
  <%= text_field_tag :agrochemical_amount %>
  kg. ha<sup>-1</sup> yr<sup>-1</sup> in agrochemicals including fertilizers,
  pesticides, and herbicides.
</section>
