<!-- SLIDE -->
<h1>Agrochemicals</h1>
<section id="slide-6" class="l-slide -slide-6 js--slide">
  <div class="c-slide-content">
    <p class="text -questions">
      We apply
      <%= f.text_field :agrochemical_amount %>
      <span class="text -form-inputs -medium">kg. ha<sup>-1</sup> yr<sup>-1</sup></span>
    </p>
    <p class="text -questions">
      in agrochemicals including fertilizers, pesticides, and herbicides.
    </p>
  </div>
</section>
