<h1>Describe your agricultural activity</h1>
<section>
  Currently, I’m growing
  <%= select_tag :crop, options_for_select(["Cocoa",
                                            "Coffee",
                                            "Tea",
                                            "Corn",
                                            "Potatoes",
                                            "Vegetables/horticulture",
                                            "Rice"]) %>
  on <%= text_field_tag :area %> hectares and expect a yield of
  <%= text_field_tag :yield %> kg. ha<sup>-1</sup> yr<sup>-1</sup>.
</section>
