<div class="c-slider-step js-slider-step -full-size -active">
  <div class="c-map-group">
    <div id="mapCountries" class="c-map"></div>
  </div>

  <div class="c-country-label">
    <div id="country-label">
      <span class="text -questions">Select your country</span>
      <p class="text -description">Select your country in the map</p>
    </div>
    <div id="region-label" class="-hidden">
      <span class="text -questions">Select your region</span>
      <p class="text -description">Select your region in the map</p>
    </div>
  </div>

  <div class="c-btn-container -j-center -a-center">
    <span class="c-field -all -medium">
      <%= select_tag :country,
        options_from_collection_for_select(@geo_locations, :country, :country),
        include_blank: true,
        class: '-js-required',
        'data-placeholder': ''
      %>
    </span>
    <span id="region-field" class="c-field -all -medium -hidden">
      <%= f.select :geo_location_id, [], {}, class: '-js-required' %>
    </span>
  </div>
</div>
