<div class="c-slider-step js-slider-step -full-size -active" data-guidance="geo-location">
  <div class="c-map-group">
    <div id="mapCountries" class="c-map"></div>
  </div>

  <div class="c-country-label">
    <div id="country-label">
      <span class="text -questions">Select your country</span>
      <p class="text -description">
        Select your country using the map or the list below.
      </p>
    </div>
    <div id="region-label" class="-hidden">
      <span class="text -questions">Select your region</span>
      <p class="text -description">
        Select your region using the map or the list below.
      </p>
    </div>
  </div>

  <div id="mapSelectors" class="c-btn-container -j-center -a-center">
    <span class="c-field -medium">
      <%= select_tag :country,
        options_from_collection_for_select(@geo_locations, :country, :country),
        include_blank: true,
        class: '-js-required, theme-1',
        'data-placeholder': ''
      %>
    </span>
    <span id="region-field" class="c-field -medium -hidden">
      <%= f.select :geo_location_id, [], {}, class: '-js-required, theme-1' %>
    </span>
  </div>
</div>
