<div class="c-slider-step js-slider-step -active">
  <div class="c-map-group">
    <div id="mapCountries" class="c-map"></div>
  </div>
  <%= label_tag :country, "Select your country", class: "text -questions country-text" %>
  <%= label_tag :region, "Select your region", class: "text -questions is-hidden region-text" %>
  <p class="text -description country-text">Start typing or select your country in the map</p>
  <p class="text -description region-text is-hidden">Start typing or select your region in the map</p>
  <span class="c-input-field">
    <%= select_tag :country,
      options_from_collection_for_select(@geo_locations, :country, :country),
      include_blank: true, class: '-input-big is-required' %>
  </span>
  <span class="c-input-field is-hidden">
    <%= f.select :geo_location_id, [], {}, class: '-input-big' %>
  </span>
</div>
