<%= form_for(analysis) do |f| %>
  <div id="wizard">
    <%= render partial: 'geo_location', f: f %>
    <%= render partial: 'basic_info', f: f %>
    <h1>Done</h1>
    <section>
      <div class="actions">
        <%= f.submit %>
      </div>
    </section>
  </div>
<% end %>
