<!-- SLIDE -->
<h1>Liming and Dolomite</h1>
<section class="l-slide -slide-1">
  <div class="c-slide-content">
    <p class="text -description">Skip if it doesn't apply</p>

    <p class="text -questions">
      We apply
      <%= f.text_field :lime_amount %><span class="text -form-inputs -medium">kg. ha<sup>-1</sup> yr<sup>-1</sup></span>
      of lime and
    </p>
    <p class="text -questions">
      <%= f.text_field :dolomite_amount %><span class="text -form-inputs -medium">kg. ha<sup>-1</sup> yr<sup>-1</sup></span>
      of dolomite.
    </p>
  </div>
</section>
