<div class="c-slider-step js-slider-step -active">
  <!-- <h1>Liming and Dolomite</h1> -->
  <div class="slider-step-container -light">
    <span class="text -guidance -light">Please tell us about your liming practices</span>

    <div>
      <div>
        <span class="text -questions">Do you apply lime?</span>
        <span class="c-field -extra-small -light">
          <select name="limeRice" id="limeRice">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </span>
      </div>
      <div class="c-field -light -medium">
        <%= f.number_field :lime_amount, class: '-right -disabled -js-numeric', autocomplete: 'off', min: '0', disabled: true %>
        <span class="unit">kg/ha/year</span>
      </div>
    </div>

    <div>
      <div>
        <span class="text -questions">Do you apply dolomite?</span>
        <span class="c-field -extra-small -light">
          <select name="limeRice" id="limeRice">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select>
        </span>
      </div>
      <div class="c-field -light -medium">
        <%= f.number_field :dolomite_amount, class: '-right -disabled -js-numeric', autocomplete: 'off', min: '0', disabled: true %>
        <span class="unit">kg/ha/year</span>
      </div>
    </div>

  </div>
</div>
