<div>
  <%= f.hidden_field :category, value: Category::TRANSPORTATION_FUEL %>
  <span class="c-field -little -light">
    <%= f.number_field :amount, class: '-right -js-numeric', autocomplete: 'off', min: '0' %>
  </span>
  <span class="c-field -little -light">
    <%= f.select :unit, select_options(Analysis::FUEL_UNITS) %>
  </span>
  <span class="c-field -little -light">
    <%= f.select :addition_type, select_options(Analysis::FUEL_TYPES) %>
  </span>
  for transportation,
</div>
