<div class="c-slider-step js-slider-step -active">
  <p class="text -questions">
    <span>
      Currently, I’m growing 
      <span class="c-input-field">
        <%= f.select :crop, select_options(Analysis::CROPS) %>
      </span>
    </span>
    <span>
      on
      <span class="c-input-field">
        <%= f.text_field :area, class: '-input-small is-required is-numeric' %>
      </span>
      hectares of land
    </span>
    <span>
      and expect a yield of
    </span>
    <span>
      <span class="c-input-field">
        <%= f.text_field :yield, class: '-input-small is-required is-numeric' %>
      </span>
      <span class="c-input-field">
        <%= f.select :yield_unit, select_options(Analysis::YIELD_UNITS), {}, class: '-input-small' %>
      </span>
      <span class="text -form-inputs -medium"> per yard</span>
    </span>
  </p>
</div>
