<div class="c-slider-step js-slider-step -active">
  <div class="slider-step-container">
    <span class="text -guidance">Describe your agricultural activity</span>
    <span>
      Currently, I’m growing
      <span class="c-field -little">
        <%= f.select :crop, select_options(Analysis::CROPS), {}, class: '-js-required' %>
      </span>
    </span>
    <span>
      on
      <span class="c-field -little">
        <%= f.number_field :area, class: '-right -js-required -js-numeric', autocomplete: 'off', min: '0' %>
      </span>
      hectares of land
    </span>
    <span>
      and expect a yield of
    </span>
    <span>
      <span class="c-field -little">
        <%= f.number_field :yield, class: '-right -js-required -js-numeric', autocomplete: 'off', min: '0' %>
      </span>
      <span class="c-field -medium">
        <%= f.select :yield_unit, select_options(Analysis::YIELD_UNITS), {}, class: '-js-required' %>
      </span>
    </span>
  </div>
</div>
