<div class="l-slide -home">
  <div class="c-home-content">

    <%= link_to "http://www.growasia.org", target: "_blank" do %>
      <svg class="logo">
        <use xlink:href="#icon-logo"></use>
      </svg>
    <% end %>

    <h1 class="text -claim">Welcome to the Grow Asia Counter</h1>
    <p class="text -intro">
      Use this tool to estimate and explore the greenhouse gas impacts of changes
      in management practices for cocoa, coffee, tea, corn, rice, potatoes, and
      horticulture
    </p>
    <%= link_to "Start Here", new_analysis_path, class: "btn -light" %>

    <p class="text -fake-link -light">Or learn more</p>

    <span>
      <%= link_to "/documents/Grow Asia Counter User Manual.pdf", target: "_blank",
        class: "text -link -light -in-line" do %>
        about the website's capabilities
      <% end %>
      <span class="text -fake-link -light -in-line">and</span>
      <%= link_to "/documents/Grow Asia Counter Methodology.pdf", target: "_blank",
        class: "text -link -light -in-line" do %>
        the methodology and data used
      <% end %>
    </span>
  </div>

</div>
