<h1>Agrochemicals</h1>
<section class="l-slide -slide-1">
  We apply
  <%= f.text_field :agrochemical_amount %>
  kg. ha<sup>-1</sup> yr<sup>-1</sup> in agrochemicals including fertilizers,
  pesticides, and herbicides.
</section>
