<h1>Liming and Dolomite</h1>
<section>
  Skip if it doesn't apply.

  We apply
  <%= f.text_field :lime_amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup>
  of lime and
  <%= f.text_field :dolomite_amount %> kg. ha<sup>-1</sup> yr<sup>-1</sup>
  of dolomite.
</section>
