.c-btn-container {
  display: flex;

  width: 80%;
  max-width: rem(800px);
  margin: 0 auto;

  > * {
    margin: 0 rem(15px) 0 0;
    &:last-child {
      margin: 0;
    }
  }

  &.-j-start { justify-content: flex-start; }
  &.-j-center { justify-content: center; }
  &.-j-end { justify-content: flex-end; }
  &.-j-between { justify-content: space-between; }
  &.-j-around { justify-content: space-around; }

  &.-a-start { align-items: flex-start; }
  &.-a-center { align-items: center; }
  &.-a-end { align-items: flex-end; }
}
