.c-btn-container {
  display: flex;
  // This padding shouldn't be here
  padding: 40px 0 0;

  > * {
    margin: 0 rem(15px) 0 0;
    &:last-child {
      margin: 0;
    }
  }

  &.-j-start { justify-content: flex-start; }
  &.-j-center { justify-content: center; }
  &.-j-end { justify-content: flex-end; }

  &.-a-start { align-items: flex-start; }
  &.-a-center { align-items: center; }
  &.-a-end { align-items: flex-end; }
}
