.btn {
  display: inline-block;
  padding: rem(20px) rem(45px);
  // box-shadow: 0 rem(1px) rem(2px) 0 rgba($black, 0.2);
  border: solid rem(1px) rgba($black, .4);
  border-radius: rem(6px);
  font-size: rem(11px);
  letter-spacing: rem(2px);
  font-weight: 700;
  text-transform: uppercase;

  &.-light {
    color: $white;
    border-color: rgba($white, .4);
    fill: $white;
  }

  &.-dark {
    color: $black;
    border-color: rgba($black, .4);
    fill: $black;
  }

  &.-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      margin: 0 rem(5px) 0 0;

      &:last-child {
        margin: 0;
      }
    }

    svg {
      display: inline-block;
    }
  }
}

.btn-social {
  width: rem(24px);
  height: rem(24px);
  padding: rem(5px);
}

.btn-next,
.btn-prev {
  @extend .btn;
  position: absolute;
  bottom: rem(16px);
  z-index: 10;
  padding: 0;
  position: relative;
  width: rem(56px);
  height: rem(56px);
  font-size: 0;

  &:after {
    content: "";
    @extend %center;
    background-repeat: no-repeat;
    width: rem(16px);
    height: rem(16px);
  }

  &.is-hidden {
    display: none;
  }
}

.btn-prev {
  position: absolute;
  left: rem(16px);
  border: 0;
  box-shadow: none;
  opacity: .2;

  &:after {
    background-image: image-url('arrow_back.svg');
    cursor: pointer;
    pointer-events: none;
  }

  &:hover {
    opacity: 1;
  }
}

.btn-next {
  position: absolute;
  right: rem(8px);

  &:after {
    background-image: image-url('arrow_forward.svg');
    cursor: pointer;
    pointer-events: none;
  }
}

