$label-width: 100px;


input[type="password"],
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
textarea {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  background: rgba($black, .05);
  padding: 10px;
  margin: 0;
  font-size: 32px;
  border-radius: 0px;
  outline: none;
  line-height: normal;
  position: relative;
  top: 4px;

  // ALIGN
  &.-left {
    text-align: left;
  }

  &.-right {
    text-align: right;
  }

  &:focus {
    border-color: darken(rgba($black, .4),10%);
  }
}

/**
 * Field
 */
.c-field {
  position: relative;
  padding: 0;
  display: inline-block;

  &.-default {
    padding: 0;

    > label {
      display: block;
      text-align: left;
      width: 100%;
      position: relative;
      left: auto;
      top: auto;
      transform: none;
      margin: 0 0 3px;
    }
  }

  // STATES
  &.-block { display: block;}
  &.-hidden { display: none;}


  // SIZES
  &.-little { max-width: 160px; }
  &.-medium { max-width: 350px; }
  &.-huge { max-width: 500px;}
  &.-all { width: 100%;}

  // PADDING
  &.-no-padding {
    padding: 0;
  }

  &.-light {
    input[type="password"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    textarea {
      color: $white;
    }
  }

  // ERRORS
  &.-error {
    label {
      color: rgba(red, .8);
    }

    input[type="password"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    textarea {
      border-color: rgba(red, .8);
    }
  }

  textarea {
    height: 182px;
    max-width: 100%;
  }

  > p {
    color: rgba($black, .8);
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 5px;

    &.-hint {
      font-size: 12px;
      margin: 5px 0;
      font-style: italic;
    }
  }

  // UNITS
  .unit {
    position: absolute;
    font-size: 12px;
    top: 100%;
    transform: translate(0,5px);
    font-weight: 500;
    right: 0;
    line-height: 1;
    white-space: nowrap;
  }

  // SELECT2
  .select2-container {
    width: 100% !important;
  }
  // TODO: Style custom number fields
}

/**
 * Radio
 */
.c-radio-box {
  @include clearfix();
  padding: 6px 0;
  font-size: 12px;

  .custom-radio {
    display: flex;
    width: 100%;

    &.-with-input {
      flex-wrap: wrap;

      label {
        width: 100%;
      }

      input[type=text] {
        max-width: 250px;
        margin: 0 0 0 25px;
      }
    }
  }

  label {
    padding: 8px 0;
    font-weight: 400;
    text-transform: none;
    position: relative;
    padding-left: 25px;
    line-height: 1;
    cursor: pointer;
    width: auto;
    top: 0;
    left: 0;
    transform: none;
    text-align: left;

    &.-uppercase {
      text-transform: uppercase;
      font-weight: 500;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid rgba($black, .8);
      border-radius: 50%;
      transform: translate(0,-50%);

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        background: $color-1;
        border-radius: 50%;
        display: none;
        transform: translate(-50%,-50%);
      }
    }
  }

  input[type=radio] {
    display: none;
  }

  input[type=radio]:checked + label {
    span{
      &:after {
        display: block;
      }
    }
  }
}


/**
 * Checkbox
 */
.c-checkbox-box {
  @include clearfix();
  padding: 6px 0;
  font-size: 24px;

  .custom-checkbox {
    display: flex;
    width: 100%;
  }

  label {
    padding: 8px 0;
    font-weight: 100;
    text-transform: none;
    position: relative;
    padding-left: 32px;
    line-height: 1;
    cursor: pointer;
    width: auto;
    top: 0;
    left: 0;
    transform: none;
    text-align: left;

    &.-uppercase {
      text-transform: uppercase;
      font-weight: 500;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      background: rgba($black, .05);
      border: 1px solid transparent;
      transform: translate(0,-50%);

      svg {
        content: "";
        display: none;
        width: 50%;
        height: 50%;
        fill: $black;
      }
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label {
    span{
      svg {
        display: block;
      }
    }
  }

  &.-medium {
    font-size: 24px;
    label {
      padding-left: 48px;

      span {
        width: 36px;
        height: 36px;
      }
    }
  }


  &.-big {
    font-size: 32px;
    label {
      padding-left: 64px;

      span {
        width: 48px;
        height: 48px;
      }
    }
  }

  &.-inline {
    display: inline-block;
  }

}

.c-file-box {
  position: relative;
  display: inline-block;

  .file-btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 0;

    > p {
      display: block;
      width: 100%;
      border: 1px solid rgba($black, .4);
      padding: 10px;
      margin: 0;
      font-size: 14px;
      border-radius: 4px;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 250px;
    }

    > button {
      border-radius: 0;
    }

  }

  .file-progress {
    display: block;
    height: 5px;
    width: 100%;

    > span {
      display: block;
      background: $color-1;
      width: 0;
      height: 100%;
    }

    &.-uploading {
      background: rgba($black, .8);
    }
  }

  input[type="file"] {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
