/*
 * Reset chosen.
 */
.chosen-container {
  vertical-align: sub;
}

.chosen-container-single .chosen-single {
  border: 0;
  background: none;
  color: white;
  box-shadow: none;
  padding: 0;
  text-align: left;
  overflow: visible;

  height: 40px;
  line-height: 40px;
}

.chosen-with-drop {
  background: none;
  border: 0;
  box-shadow: none;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: transparent;
  box-shadow: none;
  border: none;
}

.chosen-container-single .chosen-single div b {
  background: none;
  position: relative;
}

.chosen-container-single .chosen-single div {

  &:after {
    @include arrow (rem(7px), rgba($black, .2), rem(2px), 225deg);
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: rem(2px);

    transition: .2s ease-in;
    transform-origin: center;
  }
}

.chosen-with-drop .chosen-single div:after {
  transform: rotate(45deg);
}

.chosen-container-single .chosen-single span {}

.chosen-container.chosen-with-drop .chosen-drop {
  border: 0;
  border-radius: 0;
  background-color: $white;
}

.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
  background-color: rgba($black, .1);

  li {
    font-size: rem(24px);
    font-weight: 100;
    padding: rem(10px);
    color: $font-color-2;
    line-height: 1.1;

    &:first-child {
      margin-top: rem(5px);
    }

    &.highlighted {
      color: $font-color-2;
      background: rgba($font-color-2, .1);
    }
  }
}

.chosen-search {
  display: none;
}

.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  background-image: none !important;
}


////////////////////
//**** Forms *****//
////////////////////
.-input-big {
  width: rem(336px);
}

.-input-small {
  width: rem(208px);
}

input:not([type = "checkbox"]),
select,
.chosen-container {
  @extend %clean-button-or-input;
  min-width: rem(208px);
  padding: rem(9px) rem(40px) rem(9px) rem(13px);
  background-color: rgba($black, .04);
  margin-top: rem(16px);

  //Font
  font-size: rem(32px);
  font-weight: 500;
  color: rgba($font-color-2, .8);

  .c-analysis-sidebar & {
    margin-top: rem(8px);
    width: 100%;
    color: $font-color-1;
  }

  .c-slide-content .text & {
    margin: 0;
  }
}

input[type = "checkbox"] {
  display: none;
}

.checkbox-label,
input[type = "checkbox"] + label {
  position: relative;
  display: inline-block;
  @extend %clean-button-or-input;
  width: rem(56px);
  height: rem(56px);
  margin-left: 20px;
  background-color: rgba($black, .04);
  transform: translatey(16px);

  &:checked:after {
    content: "";
    @extend %center;
    width: rem(18px);
    height: rem(18px);
    background-position: center;
    background-image: image-url('check.svg');
  }

  .input-wrap & {
    transform: translatey(0);
  }
}

.checkbox-label:checked,
input[type = "checkbox"]:checked + label {
  &:after {
    content: "";
    @extend %center;
    width: rem(18px);
    height: rem(18px);
    background-position: center;
    background-image: image-url('check.svg');
  }
}

input[type = "submit"] {
  @extend %clean-button-or-input;
  @extend .btn;
  font-size: rem(11px);
  padding: 20px;
  background-color: transparent;
}

.chosen-container-single .chosen-single span {
  display: block !important;
  margin: 0;
  margin-right: rem(20px);
  margin-bottom: 0;
  font-size: rem(32px);
  font-weight: 500;
  color: rgba($font-color-2, .8);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  padding-bottom: rem(24px);
}


#country_chosen .chosen-results {
  max-height: 150px;
}
