/*
 * Reset chosen.
 */
.chosen-container {
  vertical-align: sub;
}

.chosen-container-single .chosen-single {
  border: 0;
  background: none;
  color: white;
  box-shadow: none;
  padding: 0;
  text-align: left;
  overflow: visible;

  height: 40px;
  line-height: 40px;
}

.chosen-with-drop {
  background: none;
  border: 0;
  box-shadow: none;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: transparent;
  box-shadow: none;
  border: none;
}

.chosen-container-single .chosen-single div b {
  background: none;
  position: relative;
}

.chosen-container-single .chosen-single div {

  &:after {
    @include arrow (rem(7px), rgba($black, .2), rem(2px), 225deg);
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: rem(2px);

    transition: .2s ease-in;
    transform-origin: center;
  }
}

.chosen-with-drop .chosen-single div:after {
  transform: rotate(45deg);
}

.chosen-container-single .chosen-single span {}

.chosen-container.chosen-with-drop .chosen-drop {
  border: 0;
  border-radius: 0;
  background-color: $white;
}

.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
  background-color: rgba($black, .1);

  li {
    font-size: rem(24px);
    font-weight: 100;
    padding: rem(10px);
    color: $font-color-2;
    line-height: 1.1;

    &:first-child {
      margin-top: rem(5px);
    }

    &.highlighted {
      color: $font-color-2;
      background: rgba($font-color-2, .1);
    }
  }
}

.chosen-search {
  display: none;
}

.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  background-image: none !important;
}


////////////////////
//**** Forms *****//
////////////////////


/**
 * Checkbox
 */
.checkbox-box {
  padding: 6px 0;
  font-size: 12px;

  .custom-checkbox {
    display: flex;
    width: 100%;
  }

  label {
    padding: 8px 0;
    font-weight: 400;
    text-transform: none;
    position: relative;
    padding-left: 32px;
    line-height: 1;
    cursor: pointer;
    width: auto;
    top: 0;
    left: 0;
    transform: none;
    text-align: left;
    font-size: 22px;

    &.-uppercase {
      text-transform: uppercase;
      font-weight: 500;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid $font-color-2;
      transform: translate(0,-50%);

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        display: none;
        transform: translate(-50%,-50%);
        background-position: center;
        background-image: image-url('check.svg');
        background-size: contain;

      }
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label {
    span{
      &:after {
        display: block;
      }
    }
  }
}

