.icon {

  &.-social {
    width: rem(14px);
    height: rem(14px);
  }

  &.-help {
    width: rem(24px);
    height: rem(24px);
  }

  &.-medium {
    width: rem(24px);
    height: rem(24px);
  }
}

.c-icon {
  &.-small {
    width: rem(16px);
    height: rem(16px);
  }

  &.-medium {
    width: rem(24px);
    height: rem(24px);
  }

  &.-big {
    width: rem(32px);
    height: rem(32px);
  }
}
