@media print {
  @page {
    size: A4 portrait;
  }

  body {
    width: 18cm !important;

    .l-header,
    .c-analysis-actions {
      display: none;
    }

    .l-analysis-main {
      position: relative !important;
      width: 100%;
      overflow: visible;
      left: auto;
      top: auto;
      bottom: auto;
      right: auto;
      padding: 0 rem(40px);
      height: auto;
    }
  }

  .l-analysis-main .wrapper {
    display: block !important;
    height: auto !important;
  }

  .-figure-extra-big {
    font-size: 60px;
  }

  .l-analysis-sidebar {
    position: relative !important;
    width: 100% !important;
    background-color: transparent !important;
    height: auto !important;
    overflow: visible !important;
  }

  .c-analysis-header .list {
    float: left !important;

    &:first-child {
      margin-right: 1cm;
    }
  }

  .c-analysis-toggle ul {
    border: none  !important;
  }

  .c-graph {

    svg {
      width: 100% !important;
    }
  }

  .c3-legend-item {
    transform: translatey(-35px);
    -moz-transform: translatey(-35px);
    -webkit-transform: translatey(-35px);
  }

  .c3-text {
    opacity: 1 !important;
    color: #999;
  }

  .c3-chart-text {
    .c3-texts {
      font-size: 8px !important;
    }
  }

  .js-toggle-item {
    display: none;

    &.-active {
      display: block !important;
      transform: translatex(50%);
      -moz-transform: translatex(50%);
      -webkit-transform: translatex(50%);
    }
  }

  .text {
    opacity: 1 !important;
  }

  .text.-summary-big {
    font-size: 20px !important;
  }

  .text.-figure-extra-big {
    font-size: 30px !important;
  }

  .text.text.-analysis-total {
    font-size: 18px;
  }

  .js-toggle-slider {
    transform: translatex(50%);
  }

  .-is-printable {
    display: block !important;
  }

  .-is-not-printable {
    display: none !important;
  }

  label {
    line-height: 1.2em;
  }

  hr {
    margin: 5mm 0 !important;
  }

  .c-analysis-sidebar {
    margin-top: 10mm;
    padding-left: 54px;

    p {
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 3px;
      width: 45%;
    }

    background-color: transparent !important;
    color: $black !important;

    .input-group {
      padding: 0 !important;
      margin-bottom: 20px !important;
      color: $black !important;
      background-color: transparent !important;

      &:nth-child(2n+1) {
        clear: both !important;
      }

      > div {
        width: 33% !important;
        float: left !important;
      }
    }
  }

}
