@media print {
  @page {
    size: A4 landscape;
  }

  -webkit-print-color-adjust: exact;
  color-adjust: exact;

  body {

    // -moz-transform:rotate(-90deg);

    transform: scale(.90);
    -webkit-transform: scale(.90);
    -moz-transform: scale(.90);

    .l-header,
    .c-analysis-actions {
      display: none;
    }

    .l-analysis-main {
      position: relative;
      width: 78%;
      overflow: visible;
      left: auto;
      top: auto;
      bottom: auto;
      right: auto;
      padding: 0 rem(40px);
    }
  }

  .-figure-extra-big {
    font-size: 60px;
  }

  .l-analysis-sidebar {
    width: 23% !important;
    // height: auto !important;
    overflow: visible !important;
    // position: relative !important;
  }

  .c-analysis-toggle ul {
    border: none  !important;
  }

  .c-graph {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
  }

  .js-toggle-item {
    display: none;

    &.-active {
      display: block !important;
      transform: translatex(50%);
    }
  }

  .js-toggle-slider {
    transform: translatex(50%);
  }

  .-is-printable {
    display: block !important;
  }

  .-is-not-printable {
    display: none !important;
  }

  label,
  .text.-label {
    line-height: 1.2em;
  }
}
