@media print {
  @page {
    size: A4 portrait;
  }

  body {

    .l-header,
    .c-analysis-actions {
      display: none;
    }

    .l-analysis-main {
      position: relative !important;
      width: 78%;
      overflow: visible;
      left: auto;
      top: auto;
      bottom: auto;
      right: auto;
      padding: 0 rem(40px);
      height: auto;
    }
  }

  .l-analysis-main .wrapper {
    display: block !important;
    height: auto !important;
  }

  .-figure-extra-big {
    font-size: 60px;
  }

  .l-analysis-sidebar {
    position: relative !important;
    width: 100% !important;
    // height: auto !important;
    overflow: visible !important;
    // position: relative !important;
  }

  .c-analysis-toggle ul {
    border: none  !important;
  }

  .c-graph {
    transform: scale(.7) translatex(-25%);
    -webkit-transform: scale(0.7) translatex(-25%);
    -moz-transform: scale(0.7) translatex(-25%);
  }

  .js-toggle-item {
    display: none;

    &.-active {
      display: block !important;
      transform: translatex(50%);
    }
  }

  .text.-figure-extra-big {
    font-size: 50px !important;
  }

  .js-toggle-slider {
    transform: translatex(50%);
  }

  .-is-printable {
    display: block !important;
  }

  .-is-not-printable {
    display: none !important;
  }

  label {
    line-height: 1.2em;
  }

  hr {
    margin: 20px 0 !important;
  }

  .c-analysis-sidebar {
    .input-group {
      margin-bottom: 20px !important;

      > div {
        width: 33% !important;
        float: left !important;
      }
    }
  }

}
