/* FONTS */
$font-family-1: "HelveticaNeue";

/* SCREENS */
$screen-xs: 320px;
$screen-s: 540px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 2000px;


/* GRID  */
$grid-max-width: 1400px;
$wrap-padding-mobile: 20px;
$wrap-padding-tablet: 30px;
$wrap-padding-desktop: 60px;
$wrap-padding-desktop-xl: 110px;


/* COLORS */
$bright-yellow: #fafb00;
$yellowish-green: #c1de11;
$sick-green: #8ac230;
$fern-green: #3f8c3f;
$pine: #2a5a3a;
$dark-green-blue: #194b32;

$black: #000000;
$white: #ffffff;


/* THEME COLORS */
$color-1: $bright-yellow;
$color-2: $yellowish-green;
$color-3: $sick-green;
$color-4: $fern-green;
$color-5: $pine;
$color-6: $dark-green-blue;


/* FONT COLORS */
$font-color-1: $white;
$font-color-2: $black;
