/* FONTS */
$font-family-1: "Source Sans";
$font-family-2: "Trade Gothic";


/* SCREENS */
$screen-xs: 320px;
$screen-s: 540px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 2000px;


/* GRID  */
$grid-max-width: 1400px;
$wrap-padding-mobile: 20px;
$wrap-padding-tablet: 30px;
$wrap-padding-desktop: 60px;
$wrap-padding-desktop-xl: 110px;


/* COLORS */
$carmine: #ff5d33;
$white: #fff;
$black: #000;
$softer-black: #151515;
$pinkish-orange: #ff5d33;


/* THEME COLORS */
$beige-1: #686354;
$beige-2: #948f7e;
$beige-3: #d9d1c4;
$beige-4: #dcd5cc;
$beige-5: #d0cabe;
$beige-6: #eeeae1;
$beige-7: #e6ddcf;

$color-1: $carmine;
$color-2: $white;
$color-3: $black;
$color-4: $softer-black;
$color-5: $beige-1;
$color-6: $pinkish-orange;


/* FONT COLORS */
$font-color-1: $carmine;
$font-color-2: $white;
$font-color-3: $black;
$font-color-4: $softer-black;
