/*
 * Here you should find all the types of text
 * for the project.
 *
 * There are some with colors and some without.
 * Those without color can be found with different
 * color along the project and setted with the apropiate
 * class or it will inherit it from its father.
 */

.text {
  font-family: $font-family-1;
  /*
   * SIZES
   */

  &.-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.5px;
    white-space: nowrap;
    opacity: 0.4;
  }

  //Home page claim
  &.-claim {
    font-size: rem(40px);
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: rem(.5px);
    opacity: 0.8;
  }

  &.-intro {
    font-size: rem(16px);
    line-height: 1.5;
    letter-spacing: rem(.5px);

  }

  //Slider big text. Form senteces.
  //Summary title.
  &.-questions {
    font-size: rem(32px);
    font-weight: 100;
    line-height: 1.25;
    letter-spacing: rem(.5px);
  }

  //Slider small text. Gives instructions to user.
  &.-description {
    font-size: rem(16px);
    line-height: 1;
    letter-spacing: rem(.5px);
    opacity: .4;
  }

  &.-guidance {
    display: block !important;
    font-size: rem(16px);
    line-height: 0.5;
    letter-spacing: rem(.5px);
    opacity: 0.6;
    margin: rem(24px) 0;
  }

  //Summary text
  &.-summary-big {
    color: $black;
    font-size: rem(22px);
    font-weight: 500;
    opacity: .8;
  }

  //Summary text labels.
  &.-summary-small {
    color: $black;
    font-size: rem(11px);
    line-height: .73;
    letter-spacing: rem(.5px);
    opacity: .3;
  }

  //Total emissions text
  &.-figure-extra-big {
    color: $black;
    font-size: rem(50px);
    font-weight: 700;
    opacity: .8;

    @media screen and (min-width: $screen-xl) {
      font-size: rem(72px);
    }
  }

  &.-figure-big {
    color: $black;
    font-size: rem(22px);
  }


  //This is not the text into the grap but the legend below.
  &.-graph-legend {
    color: $black;
    font-size: rem(11px);
    font-weight: 300;
    letter-spacing: rem(1px);
    text-transform: uppercase;
    opacity: .8;
  }

  &.-sidebar-resume {
    color: $black;
    font-size: rem(22px);
    font-weight: 400;
    line-height: 1.09;
    letter-spacing: rem(.6px);
    opacity: .3;
  }


  /*
   * LINKS
   */
  &.-link {
    font-size: rem(11px);
    letter-spacing: rem(.5px);
    opacity: .8;
    text-decoration: underline;
  }

  &.-fake-link {
    font-size: rem(11px);
    letter-spacing: rem(.5px);
    opacity: .8;
  }

  //Note: this might be move to the form.scss sheet later.
  //Let's keep it here for instance.

  //Inputs
  &.-form-inputs {
    font-size: rem(32px);
    font-weight: 500;
    opacity: .9;
  }

  &.-sidebar-label {
    color: $white;
    font-size: rem(16px);
    font-weight: normal;
    line-height: .5;
    letter-spacing: rem(.7px);
    opacity: .8;
  }

  &.-sidebar-input {
    color: $white;
    font-size: rem(22px);
    font-weight: 500;
  }

  &.-label {
    display: inline-block;
    font-size: rem(13px);
    line-height: 0.5;
    letter-spacing: 0.7px;
    opacity: .7;
    text-transform: none;
    margin-bottom: rem(8px);
  }

  &.-analysis-total {
    font-size: rem(24px);
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: rem(0.5px);
    text-align: center;
  }

  &.-analysis-units {
    font-size: rem(16px);
    font-weight: 500;
  }

  &.-units-highlighted {
    max-width: rem(100px);
    color: $black;
    opacity: .3;
    font-size: rem(22px);
    font-weight: 700;
    line-height: rem(20px);
  }

  &.-help-title {
    opacity: 0.8;
    font-size: rem(16px);
    font-weight: 700;
    line-height: 1.5;
  }

  &.-plain-text {
    opacity: 0.8;
    font-size: rem(16px);
    line-height: 1.5;
  }

  &.-note {
    opacity: .3;

    a {
      text-decoration: underline;
    }
  }

  &.-print-resume {
    font-size: rem(18px);
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: rem(0.5px);
  }

  &.-print-figure {
    color: $black;
    font-size: rem(14px);
    font-weight: 500;
    opacity: .8;
  }

  &.-print-units {
    color: $black;
    font-size: rem(10px);
    font-weight: 300;
    opacity: .8;
  }

  &.-print-product {
    color: $black;
    font-size: rem(10px);
    font-weight: 300;
    opacity: .8;
  }

  /*
   * COLORS
   */
  &.-dark {
    color: $black;
  }

  &.-medium {
    opacity: .2;
  }

  &.-light {
    color: $white;
  }

  &.-good {
    color: $color-2;
  }

  &.-wrong {
    color: $color-7;
  }

  &.-bold {
    font-weight: 700;
  }

  &.-in-line {
    display: inline-block !important;
  }
}
