/*
 * FUNCTIONS
 */

//rem converter
@function rem($px, $base: 16px) {
  @return ($px / $base) * 1rem;
}

/*
 * SHAPES
 */
@mixin arrow ($width, $color, $border-width, $deg) {
  width: $width;
  height: $width;
  border-top: $border-width solid $color;
  border-left: $border-width solid $color;
  transform: rotate($deg);
  pointer-events: none;
}

@mixin equi-triangle ($width, $color, $direction) {
  width: 0;
  height: 0;
  @if $direction == 'top' {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  } @else if $direction == 'bottom' {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  } @else if $direction == 'left' {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
  } @if $direction == 'right' {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }
}


%clearfix {
  &:before, &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

%clean-button-or-input {
  appearance: none;
  box-shadow: none;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  outline: none;
  padding: 0;

  // &:hover {
    // appearance: none;
    // -webkit-user-select: none;
  // }
}

@mixin placeholder() {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder {@content}
  &::-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
}

%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%centerx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%centery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
