.c-analysis-total {
  text-align: center;

  .main-figures {
    display: flex;
    justify-content: center;
    margin-bottom: rem(10px);

    > div {
      margin-left: rem(30px);
    }
  }

  .susbtraction {
    display: flex;
    justify-content: center;
    align-items: baseline;

    .value {
      margin-right: rem(4px);
    }

    .-units-highlighted {
      position: relative;
      top: -22px;
    }
  }
}
