.c-analysis-sidebar {
  color: $font-color-1;

  .input-group {
    padding: rem(24px);

    &.-header {
      background-color: $color-2;
    }

    &.-first {
      background-color: $color-3;
    }

    &.-second {
      background-color: $color-4;
    }

    &.-third {
      background-color: $color-5;
    }

    div {
      margin-bottom: rem(24px);
    }
  }

  label {
    display: block;
  }

}
