.c-analysis-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: rem(20px);

  .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 rem(15px);

    &:last-child {
      margin: 0;
    }
  }

  .list-item {
    margin: 0 rem(20px) 0 0;

    &:last-child {
      margin: 0;
    }

    .title {
      display: block;
    }

    .value {
      em {
        font-style: normal;
        color: rgba($font-color-2, 0.375);
      }
    }
  }
}
