.c-analysis-graphs {
  padding-right: rem(55px);

  .grid {
    display: flex;
    justify-content: center;
  }

  .grid-col {
    display: block;
    margin: 0 0 0 rem(70px);
    width: 100%;

    &:first-child {
      margin: 0;
    }
  }

  .chart {
    max-height: rem(250px) !important;


    @media screen and (min-width: $screen-m) {
      max-height: rem(320px) !important;
    }
  }
}
