.c-analysis-graphs {
  .grid {
    display: flex;
    justify-content: center;
  }

  .grid-col {
    display: block;
    margin: 0 0 0 rem(70px);
    width: 100%;
    max-width: rem(300px);

    &:first-child {
      margin: 0;
    }
  }
}
