.chart {
  svg {
    overflow: visible !important;
  }
}

.c3 text {
  fill: $black;
  fill-opacity: .8;
}

.c3-legend-background {
  stroke: transparent;
  fill: transparent;
}

.c3-legend-item {
  fill-opacity: .8;
  font-family: $font-family-1;
  font-weight: 400;
  transform: translatey(-20px);
}

.c3-text {
  fill: $black !important;
  opacity: .3 !important;
}

//Force labels to show in the graph area.
.c3-axis .tick text {
  transform: translatey(-2px);
}

.c3-axis-x {
  tspan:nth-child(3) {
    display: none;
  }
}


