/**
 * Field
 */
.c-field {
  display: inline-block;
  position: relative;
  padding: 0;
  transition: .2s ease-in;

  .select2-selection__placeholder {
    color: $black !important;
    opacity: .3;
  }

  &.-default {
    padding: 0;

    > label {
      display: block;
      text-align: left;
      width: 100%;
      position: relative;
      left: auto;
      top: auto;
      transform: none;
      margin: 0 0 3px;
    }
  }

  &.-fixed-height {
    height: rem(96px);
  }

  // STATES
  &.-block { display: block;}
  &.-hidden { display: none;}

  // SIZES
  //
  &.-extra-small {
    width: 100px;

    input {
      width: 100%;
    }
  }

  &.-little {
    width: 160px;

    input {
      width: 100%;
    }
  }

  &.-medium {
    width: 50%;
    min-width: rem(250px);

    input {
      width: 100%;
    }
  }

  &.-huge {
    width: 500px;

    input {
      width: 100%;
    }
  }

  &.-half-width {
    width: 45%;
    max-width: 300px;
  }

  &.-all { width: 100%;}

  // PADDING
  &.-no-padding {
    padding: 0;
  }

  &.-light {
    input[type="password"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    textarea,
    .select2-container {
      color: $white;
      background-color: rgba($white, .1);

      &:focus {
        border-color: rgba($white, .4);
      }
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: $white;
    }
    .select2-container--default .select2-selection--single:after {
      border-color: transparent rgba($white, .5) rgba($white, .5) transparent;
    }
  }

  // ERRORS
  &.-error {
    label {
      color: rgba(red, .8);
    }

    input[type="password"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    textarea {
      border-color: rgba(red, .8);
    }

    .select2-container--default .select2-selection--single {
      border-color: transparent transparent rgba(red, .8) transparent;
    }
  }

  > p {
    color: rgba($black, .8);
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 5px;

    &.-hint {
      font-size: 12px;
      margin: 5px 0;
      font-style: italic;
    }
  }

  // UNITS
  .unit {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
  }

  // SELECT2
  .select2-container {
    width: 100% !important;
  }


  // TODO: Style custom number fields
  &.-full {
    width: 100%;
  }

  &.-double {
    width: 100%;

    label {
      display: block;
    }

    input,
    .dropdown-wrapper,
    .select2-container {
      display: inline-block;
      width: 49% !important;

      &:first-child {
        margin-right: 2%;
      }
    }

    .unit {
      bottom: -17px;
      right: 50%;
    }
  }

  &.-narrow {
    select,
    .select2-selection,
    .dropdown-wrapper,
    .select2-selection__rendered,
    .select2-container,
    .select2-container {
      height: rem(40px) !important;
      line-height: rem(40px) !important;
      font-size: rem(18px);
    }

    .c-field.-narrow .select2-selection__rendered {
      font-size: rem(18px);
    }

    .select2-selection {
      border-color: transparent transparent $white transparent;
    }

    .select2-selection--single {
      &:after {
        top: 13px;
        width: 5px;
        height: 5px;
      }
    }

    input {
      font-size: rem(18px);
    }

    .unit {
      bottom: -17px;
    }
  }

  .options-wrapper {
    position: absolute;
    height: 40px;
    top: rem(-10px);
    bottom: 0;
    right: rem(-20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      fill: $white;
    }

    .btn-reset {
      position: relative;
    }

    .reset-tooltip {
      position: absolute;
      left: -10px;
      top: -5px;
      transform: translate(-100%, -25%);
      width: 170px;
      padding: 16px;
      border-radius: 6px;
      font-size: 13px;
      background-color: $black;
      color: $white;
      letter-spacing: -0.4px;
      text-align: left;

      &:after {
        content: "";
        @include equi-triangle (5px, $black, right);
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translatey(-50%);
      }
    }
  }

  &.-disabled {
    display: none;
    overflow: hidden;
    height: 0 !important;
  }

  .input-wrapper {
    position: relative;
  }

  .add-fields {
    img {
      position: relative;
      top: 5px;
    }
  }
}
