.c-field-wrapper {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;

  &.-space-between {
    justify-content: space-between;
  }

  &.is-hidden {
    display: none !important;
  }

  @media screen and (min-width: $screen-m) {

    &.-big {
      width: 100%;
    }

    &.-medium {
      width: 80%;
    }

    &.-small {
      width: 70%;
    }
  }
}
