.c-home-content {
  text-align: center;
  width: 55%;
  max-width: rem(700px);

  .logo {
    width: rem(115px);
    height: rem(154px);
    fill: $white;
    padding-bottom: rem(104px);
  }

  .text {
    &.-intro {
      margin-top: rem(8px);

      + .btn {
        margin-top: rem(16px);
      }
    }
  }

  .btn {
    & + .-fake-link  {
      margin-top: rem(24px);
    }
  }

  .-link {
    display: block;
    // width: rem(190px);
    margin-left: auto;
    margin-right: auto;
  }

  .-fake-link {
    margin-bottom: 3px;
  }
}
