.c-input-field {
  display: inline-block;

  &.-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    max-width: rem(430px);
    margin-bottom: rem(20px);
    float: left;

    &:nth-child(2n + 1) {
      margin-right: 4%;
    }
  }

  &.is-hidden {
    display: none;
  }

  .-input-big {
    width: rem(336px);
  }

  .-input-small {
    width: rem(208px);
  }


  input[type = "submit"] {
    @extend %clean-button-or-input;
    @extend .btn;
    font-size: rem(11px);
    padding: 20px;
    background-color: transparent;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    padding-bottom: rem(24px);
  }


  //checkbox
  input[type = "checkbox"] {
    display: none;
  }

  .checkbox-label,
  input[type = "checkbox"] + label {
    position: relative;
    display: inline-block;
    @extend %clean-button-or-input;
    width: rem(56px);
    height: rem(56px);
    margin-left: 20px;
    // background-color: rgba($black, .04);
    transform: translatey(16px);

    &:checked:after {
      content: "";
      @extend %center;
      width: rem(18px);
      height: rem(18px);
      background-position: center;
      background-image: image-url('check.svg');
    }

    .input-wrap & {
      transform: translatey(0);
    }
  }

  .checkbox-label:checked,
  input[type = "checkbox"]:checked + label {
    &:after {
      content: "";
      @extend %center;
      width: rem(18px);
      height: rem(18px);
      background-position: center;
      background-image: image-url('check.svg');
    }
  }

  //Avoid countries drop down overflow the page.
  #country_chosen .chosen-results,
  #analysis_geo_location_id_chosen .chosen-results {
    max-height: 150px;
  }

  /**
   * Errors
   */
  .error {
    font-style: italic;
    font-size: 14px;
    color: #ff5500;
  }

  /**
   * THEMES
   */
  .theme-light &,
  .-theme-1 &,
  .-theme-2 &,
  .-theme-3 & {

  }

  .theme-dark &,
  .-theme-4 &,
  .-theme-5 &,
  .-theme-6 & {
    input,
    select,
    .chosen-container,
    .chosen-container span,
    .chosen-container-single .chosen-single div:after {
      color: $white;
      border-color: $white;
      fill: $white;
    }

    input,
    select,
    label,
    input[type = "checkbox"] + label,
    .chosen-container {
      background-color: rgba($white, .1);
    }

    input:checked + label:after {
      background-image: image-url('check_white.svg');
    }
  }
}

//TODO: Merge with code above.
/**
 * Checkbox
 */
.checkbox-box {
  padding: 6px 0;
  font-size: 12px;

  .custom-checkbox {
    display: flex;
    width: 100%;
  }

  label {
    padding: 8px 0;
    font-weight: 400;
    text-transform: none;
    position: relative;
    padding-left: 32px;
    line-height: 1;
    cursor: pointer;
    width: auto;
    top: 0;
    left: 0;
    transform: none;
    text-align: left;
    font-size: 22px;

    &.-uppercase {
      text-transform: uppercase;
      font-weight: 500;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid $font-color-2;
      transform: translate(0,-50%);

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        display: none;
        transform: translate(-50%,-50%);
        background-position: center;
        background-image: image-url('check.svg');
        background-size: contain;
      }
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label {
    span{
      &:after {
        display: block;
      }
    }
  }
}
