.c-input-field {
  display: inline-block;

  &.-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    max-width: rem(430px);
    margin-bottom: rem(20px);
    float: left;

    &:nth-child(2n + 1) {
      margin-right: 4%;
    }
  }

  &.is-hidden {
    display: none;
  }

  .-input-big {
    width: rem(336px);
  }

  .-input-small {
    width: rem(208px);
  }

  input:not([type = "checkbox"]),
  .chosen-container,
  select {
    @extend %clean-button-or-input;
    min-width: rem(208px);
    padding: rem(9px) rem(40px) rem(9px) rem(13px);
    background-color: rgba($black, .04);
    margin-top: rem(16px);

    //Font
    font-size: rem(32px);
    font-weight: 500;
    color: rgba($font-color-2, .8);

    .c-analysis-sidebar & {
      margin-top: rem(8px);
      width: 100%;
      color: $font-color-1;
    }

    .c-slide-content .text & {
      margin: 0;
    }
  }

  input[type = "submit"] {
    @extend %clean-button-or-input;
    @extend .btn;
    font-size: rem(11px);
    padding: 20px;
    background-color: transparent;
  }

  .chosen-container-single .chosen-single span {
    display: block !important;
    margin: 0;
    margin-right: rem(20px);
    margin-bottom: 0;
    font-size: rem(32px);
    font-weight: 500;
    color: rgba($font-color-2, .8);
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    padding-bottom: rem(24px);
  }


  //checkbox
  input[type = "checkbox"] {
    display: none;
  }

  .checkbox-label,
  input[type = "checkbox"] + label {
    position: relative;
    display: inline-block;
    @extend %clean-button-or-input;
    width: rem(56px);
    height: rem(56px);
    margin-left: 20px;
    // background-color: rgba($black, .04);
    transform: translatey(16px);

    &:checked:after {
      content: "";
      @extend %center;
      width: rem(18px);
      height: rem(18px);
      background-position: center;
      background-image: image-url('check.svg');
    }

    .input-wrap & {
      transform: translatey(0);
    }
  }

  .checkbox-label:checked,
  input[type = "checkbox"]:checked + label {
    &:after {
      content: "";
      @extend %center;
      width: rem(18px);
      height: rem(18px);
      background-position: center;
      background-image: image-url('check.svg');
    }
  }

  //Avoid countries drop down overflow the page.
  #country_chosen .chosen-results,
  #analysis_geo_location_id_chosen .chosen-results {
    max-height: 150px;
  }

  /**
   * Errors
   */
  .error {
    font-style: italic;
    font-size: 14px;
    color: #ff5500;
  }

  .is-wrong {
    border: 1px solid #ff5500;
  }
}
