.c-slide-content {
  text-align: center;

  .text {
    &.-questions + &.-description {
      margin-top: rem(1px);
    }

    &.-questions + .-questions {
      margin-top: rem(40px);
    }

    span {
      display: block;
      margin-bottom: rem(40px);

      span {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin-top: rem(30px);
    margin-right: auto;
    margin-left: auto;
  }

  //HOME
  .-home & {
    width: 55%;
    max-width: rem(600px);

    .logo {
      width: rem(115px);
      height: rem(154px);
      fill: $white;
      padding-bottom: rem(104px);
    }

    .text {
      &.-intro {
        margin-top: rem(8px);

        + .btn {
          margin-top: rem(16px);
        }
      }
    }

    .btn {
      & + .-link {
        margin-top: rem(24px);
      }
    }

    .-link {
      display: block;
      width: rem(190px);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .actions {
    position: absolute;
    right: rem(16px);
    bottom: rem(32px);
  }
}

