.c-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  > ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    > li {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(100%,0);
    }
  }
}

.c-slider-item {
  // GRID
  .c-slider-step {
    .slider-step-container {
      > * {
        display: block;
      }
    }
  }

  // STATES
  &.-initial {
    transform: translate(0,0);
  }

  &.-inline {
    .c-slider-step {
      .slider-step-container {
        > * {
          display: inline;
        }
      }
    }
  }

  // COLORS
  &.-color1 { background: $color-1;}
  &.-color2 { background: $color-2;}
  &.-color3 { background: $color-3;}
  &.-color4 { background: $color-4;}
  &.-color5 { background: $color-5;}
}


.c-slider-arrows {
  .arrow {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    height: calc(100% - 20px);
    // More usable?
    cursor: pointer;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;
      user-select: none;

      appearance: none;
      background: none;
      border: none;
      border: 1px solid $black;
      border-radius: 3px;

      svg {
        margin: 0 auto;
      }
    }

    &:hover {
      button {
        background: rgba($white, 0.15);
      }
    }

    &.-left {
      transform: translate(50%,0%);
      right: (($slider-constant-open + $slider-constant)/2);
    }

    &.-rigth {
      transform: translate(-50%,0%);
      left: (($slider-constant-open + $slider-constant)/2);
    }
  }
}

.c-slider-step {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .25s linear;
  max-width: 500px;

  // STATES
  &.-active {
    opacity: 1;
    visibility: visible;
  }

  // SIZES
  &.-full-size {
    max-width: none;
  }
  &.-medium {
    max-width: 600px;
  }
  &.-huge {
    max-width: 700px;
  }

  // COLORS
  &.-light {
    color: $white;
  }
}
