.c-slider-arrows {
  .arrow {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    height: calc(100% - 20px);
    // More usable?
    cursor: pointer;
    user-select: none;

    button {
      position: relative;
      padding: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;

      appearance: none;
      background: none;
      border: none;
      border: 1px solid rgba($black, .2);
      border-radius: 3px;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        fill: rgba($black, .8)
      }
    }

    &:hover {
      button {
        background: rgba($black, .8);
        // Themes
        &.-light {
          background: rgba($white, .8);
        }

        // Colors
        &.-color1 { svg { fill: $color-1;}}
        &.-color2 { svg { fill: $color-2;}}
        &.-color3 { svg { fill: $color-3;}}
        &.-color4 { svg { fill: $color-4;}}
        &.-color5 { svg { fill: $color-5;}}
      }
    }

    &:active {
      button {
        background: rgba($black, 1);
        // Themes
        &.-light {
          background: rgba($white, 1);
        }

        // Colors
        &.-color1 { svg { fill: $color-1;}}
        &.-color2 { svg { fill: $color-2;}}
        &.-color3 { svg { fill: $color-3;}}
        &.-color4 { svg { fill: $color-4;}}
        &.-color5 { svg { fill: $color-5;}}
      }
    }

    &.-left {
      transform: translate(50%,0%);
      right: (($slider-constant-open + $slider-constant)/2);
    }

    &.-rigth {
      transform: translate(-50%,0%);
      left: (($slider-constant-open + $slider-constant)/2);
    }
  }
}

