.c-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: rem(650px);

  > ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    > li {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(100%,0);
    }
  }
}

.c-slider-item {
  // GRID
  .c-slider-step {
    .slider-step-container {
      > * {
        display: block;
      }
    }
  }

  // STATES
  &.-initial {
    transform: translate(0,0);
  }

  &.-inline {
    .c-slider-step {
      .slider-step-container {
        > * {
          display: inline;
        }
      }
    }
  }

  // COLORS
  &.-color1 { background: $color-1;}
  &.-color2 { background: $color-2;}
  &.-color3 { background: $color-3;}
  &.-color4 { background: $color-4;}
  &.-color5 { background: $color-5;}
}


.c-slider-arrows {
  .arrow {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    height: calc(100% - 20px);
    // More usable?
    cursor: pointer;
    user-select: none;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;

      appearance: none;
      background: none;
      border: none;
      border: 1px solid rgba($black, .2);
      border-radius: 3px;

      svg {
        margin: 0 auto;
        fill: rgba($black, .8)
      }
    }

    &:hover {
      button {
        background: rgba($black, .8);
        // Themes
        &.-light {
          background: rgba($white, .8);
        }

        // Colors
        &.-color1 { svg { fill: $color-1;}}
        &.-color2 { svg { fill: $color-2;}}
        &.-color3 { svg { fill: $color-3;}}
        &.-color4 { svg { fill: $color-4;}}
        &.-color5 { svg { fill: $color-5;}}
      }
    }

    &:active {
      button {
        background: rgba($black, 1);
        // Themes
        &.-light {
          background: rgba($white, 1);
        }

        // Colors
        &.-color1 { svg { fill: $color-1;}}
        &.-color2 { svg { fill: $color-2;}}
        &.-color3 { svg { fill: $color-3;}}
        &.-color4 { svg { fill: $color-4;}}
        &.-color5 { svg { fill: $color-5;}}
      }
    }

    &.-left {
      transform: translate(50%,0%);
      right: (($slider-constant-open + $slider-constant)/2);
    }

    &.-rigth {
      transform: translate(-50%,0%);
      left: (($slider-constant-open + $slider-constant)/2);
    }
  }
}

.c-slider-step {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .25s linear;
  max-width: 800px;

  // STATES
  &.-active {
    opacity: 1;
    visibility: visible;
  }

  // SIZES
  &.-full-size {
    max-width: none;
  }
  &.-medium {
    max-width: 600px;
  }
  &.-huge {
    width: 800px;
  }

  // COLORS
  &.-light {
    color: $white;
  }
}
