.c-slide-content {
  width: 50%;
  max-width: rem(600px);
  text-align: center;

  .text {
    &.-questions + &.-description {
      margin-top: rem(1px);
    }

    &.-questions + .-questions {
      margin-top: rem(40px);
    }

    &.-description + select,
    &.-description + input {
      margin-top: rem(16px);
    }
  }

  //HOME
  .logo {
    width: rem(115px);
    height: rem(154px);
    fill: $white;
    padding-bottom: rem(104px);
  }

  .text {
    &.-intro {
      margin-top: rem(8px);

      + .btn {
        margin-top: rem(16px);
      }
    }
  }

  .btn {
    & + .-link {
      margin-top: rem(24px);
    }
  }

  .-link {
    display: block;
    width: rem(190px);
    margin-left: auto;
    margin-right: auto;
  }

}

