.c-slider-step {

  .slider-step-container {
    font-size: rem(32px);
    line-height: rem(96px);
    letter-spacing: rem(.5px);
    color: rgba(0,0,0,.8);
    > * {
      display: block;
      font-weight: 100;
    }
  }
}
