<div class="description text -questions">Introducing alternative practices would result in emission reductions estimated at:</div>
<div class="total">
  <div class="value-box">
    <span class="value text -figure-extra-big">{{total}}</span>
    <span class="info"><svg><use xlink:href="#icon-help"></use></svg></span>
  </div>
</div>
