{{!-- BACKDROP --}}
<div class="modal-backdrop js-btn-modal-close"></div>
{{!-- WINDOW --}}
<div class="modal-window -info">
  <a href="#" class="modal-close js-btn-modal-close">
    <svg class="c-icon -medium"><use xlink:href="#icon-close_popup"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <div class="c-info">
        <h3 class="text -help-title">Map page</h3>
        <p class="text -plain-text">
          In this tool, geography plays a role in greenhouse gas emissions from
          agricultural activities primarily through its influence on soil carbon content.
          Soils in different areas of the region have different soil organic carbon contents.
        </p>
        <p class="text -plain-text">
          Furthermore, the relative impact that different soil
          management activities (such as tillage) have on the soil carbon content varies
          by an area’s particular climate (temperature and precipitation level).
        </p>
      </div>
    </div>
  </div>
</div>
