{{#if index-1}}
  {{#if step-0}}
    ADD TEXT FOR SLIDE1 HERE
    <h3 class="text -help-title">Fertilizer emissions</h3>
    <p class="text -plain-text">Fertilizer use can lead to emissions of the greenhouse gases - nitrous oxide (N2O) and carbon dioxide (CO2). When nitrogen-based fertilizers are applied to soils, it enhances the naturally occurring nitrification and denitrification chemical processes, which produce N2O as a by-product. Furthermore, emissions occur through the volatilization (in other words, conversion to a gas) of nitrogen, in the form of NH3 and NOx. Finally, the production of different synthetic fertilizers leads to emissions as well.</p>

    <h3 class="text -help-title">Fertilizer’s impact on soil management emissions</h3>
    <p class="text -plain-text">The use of fertilizers also impacts soil carbon content and, therefore, emissions from soil when management practices change. Applying synthetic and manure fertilizers lead to greater carbon, in the form of biomass in crops. A portion of this biomass will most likely be returned to the soil after harvest, thereby enhancing soil carbon content. In addition, application of manure directly adds carbon to the soils.</p>

    <h3 class="text -help-title">Emissions from urea hydrolysis</h3>
    <p class="text -plain-text">When the fertilizer applied is urea, additional emissions are released through hydrolysis. Hydrolysis is defined as the chemical reaction which breaks down a compound, in this case urea, in the presence of water. One of the products of the urea hydrolysis is bicarbonate (HCO3-), which in turn becomes CO2.</p>

    <p class="text -plain-text -note">Details on the methods used to calculate emissions from fertilizer use can be found <a href="">here</a>.</p>
  {{/if}}
{{/if}}

{{#if index-2}}
  {{#if step-0}}
    ADD TEXT FOR SLIDE2 HERE
  {{/if}}
  {{#if step-1}}
    ADD TEXT FOR SLIDE2 HERE
  {{/if}}
  {{#if step-2}}
    ADD TEXT FOR SLIDE2 HERE
  {{/if}}
{{/if}}

{{#if index-3}}
  {{#if step-0}}
    ADD TEXT FOR SLIDE2 HERE
  {{/if}}
  {{#if step-1}}
    ADD TEXT FOR SLIDE2 HERE
  {{/if}}
  {{#if step-2}}
    ADD TEXT FOR SLIDE2 HERE
  {{/if}}
{{/if}}
