{{!-- BACKDROP --}}
<div class="modal-backdrop js-btn-modal-close"></div>
{{!-- WINDOW --}}
<div class="modal-window -info">
  <a href="#" class="modal-close js-btn-modal-close">
    <svg class="c-icon -medium"><use xlink:href="#icon-cross"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <div class="c-info">
        ADD DEFAULT TEXT HERE
      </div>
    </div>
  </div>
</div>
