<div class="c-modal-window">
  <div class="modal-wrapper">
    <div class="btn-close-modal close-icon">×</div>
    <div class="modal-container">
      HOLA
    </div>
  </div>
  <div class="modal-background"></div>
</div>
