{{!-- BACKDROP --}}
<div class="modal-backdrop js-btn-modal-close"></div>
{{!-- WINDOW --}}
<div class="modal-window">
  <a href="#" class="modal-close js-btn-modal-close">
    <svg class="icon -medium"><use xlink:href="#icon-close"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <div class="c-save">
        <h2 class='modal-title text -questions'>Save your analysis</h2>
        <p>
          If you want to save your analysis and come back to it later, you can save the following URL or bookmark this page (crtl/cmd + d).
        </p>
      </div>
    </div>
  </div>
</div>
