{{!-- BACKDROP --}}
<div class="modal-backdrop js-btn-modal-close"></div>
{{!-- WINDOW --}}
<div class="modal-window">
  <a href="#" class="modal-close js-btn-modal-close">
    <svg class="c-icon -medium"><use xlink:href="#icon-close"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <div class="c-share">
        <h2 class='modal-title text -questions'>Share your analysis</h2>

        <div class="share-input">
          <input class="js-input-copy" type="text" name="url" value="{{this.url}}" readonly="readonly">
          <button class="js-btn-copy" type="button" name="button">Copy</button>
        </div>

        <div class="share-social">
          <ul class="c-btn-container -j-between -a-center">
            <li>
              <a href="https://twitter.com/share?url={{this.urlEncoded}}" target="_blank" class="btn -light -with-icon -twitter js-btn-popup">
                <svg class="c-icon -medium"><use xlink:href="#icon-twitter"></use></svg>
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a href="http://www.facebook.com/sharer.php?u={{this.urlEncoded}}" target="_blank" class="btn -light -with-icon -facebook js-btn-popup">
                <svg class="c-icon -medium"><use xlink:href="#icon-facebook"></use></svg>
                <span>Facebook</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
