.c-analysis-total {
  padding: rem(40px) 0;

  // Description
  .description {
    font-size: rem(32px);
    color: rgba($font-color-2, 0.8);
    font-weight: 300;
    text-align: center;
  }

  // Total value
  .total {
    text-align: center;
    padding: rem(20px) 0;

    .value-box {
      position: relative;
      display: inline-block;
      margin: 0 auto;

      .value {
        font-size: rem(120px);
        font-weight: 700;
        color: rgba($font-color-2, 0.8);
      }

      .info {
        position: absolute;
        top: 0;
        right: 0;
        width: rem(24px);
        height: rem(24px);
        transform: translate(50%,0%);
        cursor: pointer;

        svg {
          width: 100%;
          height: 100%;
          fill: rgba($font-color-2, 0.3);
        }
      }
    }
  }
}
