// Place all the styles related to the analyses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul[role='tablist'] {
  display: none;
}

#wizard h1 {
  display: none;
}

.hidden {
  display: none;
}
