<!--
  this aims to be a reference just in case you need to build another slide
  Text will take color from the slider they are in. So no need to worry about it.
  Just in case you need to force some colors, you already have classes for that.
-->

<h1>Title (won't show)</h1>
<section class="l-slide -slide-1">
  <div class="c-slide-content">
    <p class="text -questions">This is the bis text</p>
    <p class="text -description">this is the little text for instructions</p>
  </div>
</section>


<!--
  ...As simple as this
-->
